opencv-python
numpy
pandas
matplotlib
seaborn
Django
djangorestframework
django-filter
markdown 
tensorflow
tensorflow-hub
tensorflow-gpu
tensorflow-io
pillow
scikit-learn
keras
wandb
jupyterlab
notebook
voila
albumentations
tqdm
urllib3
Pillow
PyYAML
requests
scipy
torch
torchvision
flask
pygame
wave
pylab
librosa
time
soundfile
scipy